:root {
    --primary-color: #202124;
    --secondary-color: #5f6368;
    --background-color: #ffffff;
    --hover-background-color: #2021241a;
    --active-background-color: #20212429;
    --surface-color: #ffffff;
    --icon-color: #5f6367;
    --icon-background-color: #2021241a;
    --menu-background-focus-color: #202124;
    --chrome-group-text-color: #ffffff;
    --chrome-group-text-color-secondary: #202124;
    --chrome-group-color-grey: #5f6367;
    --chrome-group-color-blue: #1b73e8;
    --chrome-group-color-red: #d93025;
    --chrome-group-color-yellow: #faab00;
    --chrome-group-color-green: #178038;
    --chrome-group-color-pink: #d01884;
    --chrome-group-color-purple: #a242f4;
    --chrome-group-color-cyan: #027b83;
    --chrome-group-color-orange: #fa903e
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #E8EAED;
        --secondary-color: #9AA0A6;
        --background-color: #202124;
        --hover-background-color: #ffffff1a;
        --active-background-color: #e8eaed29;
        --surface-color: #2d2e31;
        --menu-background-focus-color: #202124;
        --icon-color: #dadce0;
        --icon-background-color: #ffffff1a;
        --chrome-group-text-color: #202124;
        --chrome-group-color-grey: #dadce0;
        --chrome-group-color-blue: #8ab4f7;
        --chrome-group-color-red: #f28b82;
        --chrome-group-color-yellow: #fdd663;
        --chrome-group-color-green: #81c995;
        --chrome-group-color-pink: #ff8bcb;
        --chrome-group-color-purple: #c589f9;
        --chrome-group-color-cyan: #78d9ec;
        --chrome-group-color-orange: #fcad70
    }

    hr {
        background-color: #fff3 !important
    }
}

.MuiListItem-button:hover {
    background-color: var(--hover-background-color) !important
}

.App {
    height: 100%;
    margin: 0;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--primary-color);
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    flex-direction: column
}

html,
body,
#root {
    height: 100%
}

body {
    background-color: var(--background-color)
}

.icon {
    background: var(--icon-color)
}

.MuiList-root {
    color: var(--primary-color);
    background-color: var(--surface-color)
}

.MuiAccordion-root {
    background: transparent !important;
    color: unset !important
}

.MuiAccordionDetails-root {
    display: block !important;
    padding: 0 !important
}

.MuiAccordionSummary-root {
    min-height: 50px !important
}

.hidden {
    display: none
}

.MuiListItem-root {
    font-size: 12px !important
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html * {
    box-sizing: border-box
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}